.musicPlayer{
    width: 62%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    transition: 0.8s;
}

.arrowDown{
    width: 30px;
    height: 30px;
    margin-top: -30px;
    border-radius: 50%;
    text-align: center;
}

.musicProfile{
    width: 320px;
    height: 320px;
}

.profileImage{
    width: 100%;
    height: 100%;
}

.profileImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileName{
    width: 70%;
    text-align: center;
    margin: 10px auto;
    overflow: hidden;
}

.profileName div{
    font-family: ZenMaruGothic-Regular;
    font-size: 1.1rem;
    animation: MoveName 8s infinite linear;
    white-space: nowrap;
}

.btnHandlerBox{
    margin-top: 50px;
    z-index: 99;
}

.timeOfMusic{
    position: relative;
}

.volumeSettingBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* This animation move music name. */
@keyframes MoveName {
    0%{
        transform: translateX(-200%);
        opacity: 0;
    }
    25%{ opacity: 1; }
    50%{ opacity: 1; }
    75%{ opacity: 1; }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}

@media (max-width: 1250px) {
    .musicProfile{
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 1024px) {
    .musicPlayer{
        width: 100%;
        position: absolute;
        background: linear-gradient(to bottom, #6b9ba1 10%, #fff 80%);
    }
}

@media (max-width: 768px) {
    .musicPlayer{
        padding: 30px;
        row-gap: 20px;
    }

    .musicProfile{
        width: 220px;
        height: 220px;
    }
    
    .btnHandlerBox{
        margin: 35px 0 10px 0;
    }
    
    .volumeSettingBox{
        margin-top: 0px;
    }
}

@media (max-width: 576px) {
    .musicProfile{
        width: 190px;
        height: 190px;
    }
}